{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
  <i class="fa-solid fa-tags" title="page tags" aria-hidden="true"></i>{{ range .GetTerms "tags" }}<a href="/tags/#{{ .LinkTitle | lower }}" class="tag">#{{ .LinkTitle | lower }}</a>{{ end }}</span>
  {{ .Content }}
</div>
<div style="clear: both"></div>

<nav class="post-nav">
  {{ if .Prev }}
  <a class="post-nav-item post-nav-prev" href="{{ .Prev.Permalink }}">
    <div class="nav-arrow">← previous</div>
    {{ .Prev.Title }}
  </a>
  {{ end }} {{ if .Next }}
  <a class="post-nav-item post-nav-next" href="{{ .Next.Permalink }}">
    <div class="nav-arrow">next →</div>
    {{ .Next.Title }}
  </a>
  {{ end }}
</nav>

{{ with site.RegularPages.Related . | first 5 }}
<div style="clear: both"></div>
Related content:
<ul>
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
</ul>
{{ end }}

{{ partial "default_foot.html" . }}
