{{- with .Page.Resources.Get .Params.path }}
  {{- $s := .Process (printf "fill %dx%d wepb" ($.Get "w") ($.Get "h")) -}}
  {{- $l := .Process (printf "fill %dx%d wepb" (mul ($.Get "w") 2) (mul ($.Get "h") 2)) -}}
    <a href="{{ $.Params.path}}" class="glightbox"><img width="{{ $s.Width }}" height="{{ $s.Height }}"
      src="{{ $l.RelPermalink }}" srcset="{{ $s.RelPermalink }}, {{ $l.RelPermalink }} 2x"
      {{ with $.Get "alt" }}alt="{{.}}"{{end}}
      {{ with $.Get "class" }}class="{{.}}"{{end}}
      loading="lazy"></a>
{{- end -}}
